<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
         <property name="hibernate.connection.datasource">java:comp/env/jdbc/storedb</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<mapping class="com.trailshop.entities.OrderItem" />
        <mapping class="com.trailshop.entities.Product" />
        <mapping class="com.trailshop.entities.CartOrder" />
    </session-factory>
</hibernate-configuration>
